@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AdsMaster.Mvc.Models.IndexViewModel

@{
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Search wrapper Start -->
<div id="search-row-wrapper">
    <div class="container">
        <div class="search-inner">
            <!-- Start Search box -->
            <div class="search-bar row">
                <fieldset>
                    <form class="search-form">
                        <div class="form-group">
                            <i class="lni-bullhorn"></i>
                            <input type="text" name="customword" class="form-control" placeholder="What are you looking for">
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select>
                                    <option value="none">All Locations</option>
                                    <option value="none">Community</option>
                                    <option value="none">Items For Sale</option>
                                    <option value="none">Jobs</option>
                                    <option value="none">Personals</option>
                                    <option value="none">Real Estate</option>
                                    <option value="none">Services</option>
                                    <option value="none">Vehicles</option>
                                </select>
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select>
                                    <option value="none">All Locations</option>
                                    <option value="none">New York</option>
                                    <option value="none">California</option>
                                    <option value="none">Training</option>
                                    <option value="none">Washington</option>
                                    <option value="none">Birmingham</option>
                                    <option value="none">Chicago</option>
                                    <option value="none">Phoenix</option>
                                    <i class="lnr-chevron-down"></i>
                                </select>
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
                    </form>
                </fieldset>
            </div>
            <!-- End Search box -->
        </div>
    </div>
</div>
<!-- Search wrapper End -->
<!-- Main container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 page-content">
                <!-- Product filter Start -->
                <div class="product-filter">
                    <div class="grid-list-count">
                        <a class="list switchToGrid" href="post/details"><i class="fas fa-list"></i></a>
                        <a class="grid switchToList" href="post/details"><i class="fas fa-th-large"></i></a>
                    </div>
                </div>
                <!-- Product filter End -->
                <!-- Adds wrapper Start -->
                <div class="adds-wrapper">

                    @foreach (var item in Model.Items)
                    {
                        <div class="item-list">
                            <div class="row">
                                <div class="col-sm-2 no-padding photobox">
                                    <div class="add-image">
                                        <a href='@Url.Action("details", "post", new { id = item.TopicID }, null)'>
                                            <img src='@Url.Content("~/Files/" + String.Format("{0}", item.Image))' alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-7 add-desc-box">
                                    <div class="add-details">
                                        <h5 class="add-title">
                                            @Html.ActionLink(item.Title, "details", "post", new { id = item.TopicID }, null)
                                        </h5>
                                        <div class="info">
                                            <span class="date">
                                                <i class="fas fa-clock"></i>
                                                @Html.Label(item.LastPostTime.ToString())
                                            </span>
                                        </div>
                                        <div class="item_desc">
                                            @Html.ActionLink(item.Description, "details", "post", new { id = item.TopicID }, null)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 float-right  price-box">
                                    <h2 class="item-price">AED @Html.Label("", String.Format("{0}", item.Price))</h2>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- Adds wrapper End -->

                <div class="col-12">
                    <!-- Start Pagination -->
                    <div class="pagination-bar">
                        <nav>
                            <ul class="pagination">
                                @for (var i = 1; i < Model.PageViewModel.TotalPages + 1; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link @(i == @ViewBag.Page ? "active" : "")"
                                           asp-action="Index"
                                           asp-route-id="@ViewBag.Category"
                                           asp-route-page="@i.ToString()">@i.ToString()</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- End Pagination -->

                    <div class="post-promo text-center">
                        <h2> Do you get anything for sell ? </h2>
                        <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
                        <a href="/Ads/Post/New" class="btn btn-post btn-danger">Post a Free Ad </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main container End -->
