@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@using PopForums.Services;
@using PopForums.Models;
@using PopForums.Mvc.Areas.Forums.Services;

@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model CategorizedForumContainer
@{
    ViewBag.Title = Model.ForumTitle;
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
    var user = UserRetrievalShim.GetUser();
    var profile = UserRetrievalShim.GetProfile();
}

@*Start intro section*@
<section id="intro" class="section-intro">
    <div class="overlay">
        <div class="container">
            <div class="main-text">
                <h1 class="intro-title">Welcome To <span>DUBASTIC</span></h1>
                <p class="sub-title">Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more</p>
                @*Start Search Box*@
                <div class="search-bar">
                    <fieldset>
                        <form class="search-form" method="get" action="/Ads/Category/">
                            <div class="form-group">
                                <i class="lni-bullhorn"></i>
                                <input type="text" name="q" class="form-control" placeholder="What are you looking for">
                            </div>
                            <button class="btn btn-common bb" type="submit">
                                <i class="lni-search"></i>Search Now
                            </button>
                        </form>
                    </fieldset>
                </div>
                @*End Search Box*@
            </div>
        </div>
    </div>
</section>
@*End Intro Section*@

<div class="wrapper">
    @*Categories Homepage Section Start*@
    <section id="categories-homepage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Browse Ads from Categories</h3>
                </div>
                @{
                    int k = 0;
                    foreach (var category in Model.CategoryDictionary)
                    {
                        k += 1;
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="@("category-box border-" + (k%8 + 1).ToString() + " wow fadeInUpQuick")" data-wow-delay="0.1s">
                                <div class="icon">
                                    <a href="./Ads/Category/Index/@category.Key.CategoryID">
                                        <i class="@("lnr " + AdsMaster.Mvc.Areas.Ads.Services.IconService.GetIcon(category.Key.Title) + " color-" + (k%8 + 1).ToString())"></i>
                                    </a>
                                </div>
                                <div class="category-header">
                                    <a href="./Ads/Category/Index/@category.Key.CategoryID">
                                        <h4>@category.Key.Title</h4>
                                    </a>
                                </div>
                                <div class="category-content">
                                    @if (category.Value.Count > 0)
                                    {
                                        <ul style="margin:0px;">
                                            @for (int i = 0; i < category.Value.Count && i < 5; i++)// var forum in category.Value)
                                            {
                                                var forum = category.Value[i];

                                                <li data-forumid="@forum.ForumID">
                                                    <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Key.CategoryID" asp-route-category="@forum.ForumID">@forum.Title</a>
                                                </li>
                                            }
                                            @if (category.Value.Count > 5)
                                            {
                                                <li id="@("btnExpand" + category.Key.CategoryID)">
                                                    <a href="@("javascript:expand(" + category.Key.CategoryID + ")")">More →</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    @if (category.Value.Count > 5)
                                    {
                                        <ul style="margin:0px;display:none;" id="@("myDIV" + category.Key.CategoryID)">

                                            @for (int i = 5; i < category.Value.Count; i++)// var forum in category.Value)
                                            {
                                                var forum = category.Value[i];
                                                <li data-forumid="@forum.ForumID">
                                                    <a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName">@forum.Title</a>
                                                </li>
                                            }

                                            @if (category.Value.Count > 5)
                                            {
                                                <li style="display:none;" id="@("btnCollapse" + category.Key.CategoryID)">
                                                    <a href="@("javascript:collapse(" + category.Key.CategoryID + ")")">Less →</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    @*Categories Homepage Section End*@
</div>

@section scripts
{
    <script>
        function expand(val) {
            var x = document.getElementById("myDIV" + val);
            var y = document.getElementById("btnExpand" + val);
            var z = document.getElementById("btnCollapse" + val);
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
                z.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function collapse(val) {
            var x = document.getElementById("myDIV" + val);
            var y = document.getElementById("btnExpand" + val);
            var z = document.getElementById("btnCollapse" + val);
            if (x.style.display === "block") {
                x.style.display = "none";
                y.style.display = "block";
                z.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
}
