@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section HeaderContent {
    @RenderSection("HeaderContent", required: false)
    <environment include="Development">
        <link rel="shortcut icon" href="~/favicon.ico">
        <script src="~/lib/signalr/dist/signalr.js"></script>
        @*<script src="~/lib/PopForums/src/PopForums.js"></script>
            <link href="~/lib/PopForums/src/PopForums.css" rel="stylesheet" />*@

        <!-- Favicon -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/fonts/all.min.css" type="text/css">
        <!-- Line Icons CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/fonts/line-icons/line-icons.css" type="text/css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/extras/animate.css" type="text/css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="~/Classifieds/dist/extras/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="~/Classifieds/dist/extras/owl.theme.css" type="text/css">
        <!-- Slicknav js -->
        <link rel="stylesheet" href="~/lib/slicknav/dist/slicknav.min.css" type="text/css">
        <!-- Main Styles -->
        <link rel="stylesheet" href="~/Classifieds/dist/css/main.css" type="text/css">
        <!-- Responsive CSS Styles -->
        <link rel="stylesheet" href="~/Classifieds/dist/css/responsive.css" type="text/css">

    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/dist/signalr.min.js"></script>
        @*<script src="~/lib/PopForums/dist/PopForums.min.js"></script>
            <link href="~/lib/PopForums/dist/PopForums.min.css" rel="stylesheet"*@ />

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/favicon.ico">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/fonts/all.min.css" type="text/css">
        <!-- Line Icons CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/fonts/line-icons/line-icons.css" type="text/css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="~/Classifieds/dist/extras/animate.css" type="text/css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="~/Classifieds/dist/extras/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="~/Classifieds/dist/extras/owl.theme.css" type="text/css">
        <!-- Slicknav js -->
        <link rel="stylesheet" href="~/lib/slicknav/dist/slicknav.min.css" type="text/css">
        <!-- Main Styles -->
        <link rel="stylesheet" href="~/Classifieds/dist/css/main.css" type="text/css">
        <!-- Responsive CSS Styles -->
        <link rel="stylesheet" href="~/Classifieds/dist/css/responsive.css" type="text/css">
    </environment>
}

@*@await Component.InvokeAsync("UserNavigation")*@

<!-- Header Section Start -->
<div class="header">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
        <div class="container">
            <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Classifieds/dist/img/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="lnr lnr-user"></i> My Account
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Account1")"><i class="lnr lnr-home"></i> Account Home</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("MyAds", "Account1")"><i class="lnr lnr-cart"></i> My Ads</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Favourite", "Account1")"><i class="lnr lnr-heart"></i> Favourite ads</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Archive", "Account1")"><i class="lnr lnr-file-add"></i> Archived</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Login", "Account1")"><i class="lnr lnr-lock"></i> Log In</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Signup", "Account1")"><i class="lnr lnr-user"></i> Signup</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ForgotPassword", "Account1")"><i class="lnr lnr-sync"></i> Forgot Password</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("CloseAccount", "Account1")"><i class="lnr lnr-cross"></i>Account close</a></li>
                            </ul>
                        </li>
                        <li class="postadd">
                            <a class="btn btn-common btn-post" href="@Url.Action("New", "Post")"><span class="fas fa-plus-circle"></span> Post an Ad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-menu" data-logo="/Classifieds/dist/img/logo-mobile.png"></div>
    </nav>
    <!-- Navbar End -->
</div>
<!-- Header Section End -->

@RenderBody()
<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                    <div class="widget">
                        <h3 class="block-title">About us</h3>
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
                    <div class="widget">
                        <h3 class="block-title">Useful Links</h3>
                        <ul class="menu">
                            <li><a href="/Ads/">Home</a></li>
                            <li><a href="/Ads/Page/Faq">FAQ</a></li>
                            <li><a href="/Ads/About">About</a></li>
                            <li><a href="/Ads/About/Contact">Contact</a></li>
                            <li><a href="/Ads/Page/Terms">Terms of Use</a></li>
                            <li><a href="/Ads/Page/Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
                    <div class="widget">
                        <h3 class="block-title">Latest Tweets</h3>
                        <div class="twitter-content clearfix">
                            <ul class="twitter-list">
                                <li class="clearfix">
                                    <span>
                                        Welcome to Ads Master
                                        <a href="#">http://adsmaster.com</a>
                                    </span>
                                </li>
                                <li class="clearfix">
                                    <span>
                                        Welcome to Ads Master
                                        <a href="#">http://adsmaster.com</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
                    <div class="widget">
                        <h3 class="block-title">Random Ads</h3>
                        <ul class="featured-list">
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img1.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img2.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img3.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img4.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img5.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="~/Classifieds/dist/img/featured/img6.jpg">
                                <div class="hover">
                                    <a href="#"><span>$49</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer area End -->
    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-info float-left">
                        <p>Welcome to <a href="http://adsmaster.com" rel="nofollow">ADS MASTER</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Main JS  -->



@section scripts {
    @RenderSection("scripts", required: false)
    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.stellar/jquery.stellar.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/owl.carousel.min.js"></script>
        @*<script type="text/javascript" src="~/Classifieds/dist/js/color-switcher.js"></script>*@
        <script type="text/javascript" src="~/lib/slicknav/dist/jquery.slicknav.min.js"></script>
        <script type="text/javascript" src="~/lib/wowjs/dist/wow.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.counterup/jquery.counterup.min.js"></script>
        <script type="text/javascript" src="~/lib/waypoints/lib/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-validator/dist/validator.min.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/contact-form-script.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/main.js"></script>

    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.stellar/jquery.stellar.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/color-switcher.js"></script>
        <script type="text/javascript" src="~/lib/slicknav/dist/jquery.slicknav.min.js"></script>
        <script type="text/javascript" src="~/lib/wowjs/dist/wow.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.counterup/jquery.counterup.min.js"></script>
        <script type="text/javascript" src="~/lib/waypoints/lib/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-validator/dist/validator.min.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/contact-form-script.js"></script>
        <script type="text/javascript" src="~/Classifieds/dist/js/main.js"></script>
    </environment>
}