@{
    ViewBag.Title = PopForums.Resources.EditAccount;
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header" style="@("background: url(" + Url.Content("~/Classifieds/dist/img/banner1.jpg") + ");")">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@PopForums.Resources.EditAccount</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    @*<h1>@PopForums.Resources.EditAccount</h1>*@
                    <ul id="TopBreadcrumb" class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
                    </ul>
                </div>

                <p>@PopForums.Resources.MustBeRegisteredToEditAccount</p>

            </div>
        </div>

    </div>
</section>