@using PopForums.Configuration
@inject ISettingsManager SettingsManager
@{
  ViewBag.Title = PopForums.Resources.VerifyAccount;
  Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

 @*Page Header Start*@ 
<div class="page-header" style="@("background: url(" + Url.Content("~/Classifieds/dist/img/banner1.jpg") + ");")">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@PopForums.Resources.VerifyAccount</h2>
                </div>
            </div>
        </div>
    </div>
</div>
 @*Page Header End*@ 

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @if (ViewData["EmailProblem"] != null || ViewData["Result"] != null)
                {
                    <div class="alert alert-danger">@ViewData["EmailProblem"] @ViewData["Result"]</div>
                }

                <div class="row">
                    <div class="col-12 col-md-6">
                        <form asp-action="VerifyCode" method="post">
                            <div role="form">
                                <div class="form-group">
                                    <label for="authorizationCode">@PopForums.Resources.EnterVerificationCode</label>
                                    <input type="text" name="authorizationCode" class="form-control" />
                                </div>
                                <input type="submit" value="@PopForums.Resources.VerifyCodeButton" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6">
                        <form asp-action="RequestCode" method="post">
                            <div role="form">
                                <div class="form-group">
                                    <label for="email">@PopForums.Resources.VerificationIfYouNeed</label>
                                    <input type="text" name="email" class="form-control" />
                                </div>
                                <input type="submit" value="@PopForums.Resources.SendEmailWithNewCodeButton" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>