@using PopForums.Configuration
@using AdsMaster.Mvc.Areas.Ads.Controllers;
@model AdsMaster.Mvc.Areas.Ads.Models.UserNavContainer
@inject ISettingsManager SettingsManager

<!-- Header Section Start -->
<div class="header">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
        <div class="container">
            <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Classifieds/dist/img/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        @if (Model.User == null)
                        {
                            <li class="nav-item"><a asp-controller="@AccountController.Name" asp-action="Create" asp-route-area="Ads" class="nav-link">@PopForums.Resources.CreateAnAccount</a></li>
                            <li class="nav-item"><a asp-controller="@AccountController.Name" asp-action="Login" asp-route-area="Ads" class="nav-link">@PopForums.Resources.Login</a></li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="lnr lnr-user"></i> My Account
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Account1")"><i class="lnr lnr-home"></i> Account Home</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("MyAds", "Account1")"><i class="lnr lnr-cart"></i> My Ads</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Favourite", "Account1")"><i class="lnr lnr-heart"></i> Favourite ads</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Archive", "Account1")"><i class="lnr lnr-file-add"></i> Archived</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("ForgotPassword", "Account1")"><i class="lnr lnr-sync"></i> Forgot Password</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("CloseAccount", "Account1")"><i class="lnr lnr-cross"></i>Account close</a></li>
                                    <li><a class="dropdown-item" asp-controller="@IdentityController.Name" asp-action="Logout" asp-route-area="Ads"><i class="lnr lnr-lock"></i>@PopForums.Resources.Logout</a></li>
                                </ul>
                            </li>
                        }
                        <li class="postadd">
                            <a class="btn btn-common btn-post" href="@Url.Action("New", "Post")"><span class="fas fa-plus-circle"></span> Post an Ad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-menu" data-logo="/Classifieds/dist/img/logo-mobile.png"></div>
    </nav>
    <!-- Navbar End -->
</div>
<!-- Header Section End -->